.uk-navbar-item, .uk-navbar-nav > li > a, .uk-navbar-toggle{
    min-height: 0;
}

.af-header nav{
    padding: 8px 15px;
    background-color: #fff;
}

.af-header .uk-navbar-nav li{
    padding: 5px 15px;
}

.af-header .uk-navbar-nav li a{
    font-size: 13px;
    text-transform: none;
}

.af-header .uk-navbar-nav li.active{
    background-color: #fe340e;
    border-radius: 10px;
}

.af-header .uk-navbar-nav li.active a{
    color: #fff;
}

/* .af-header .uk-navbar-nav li:hover{
    background-color: #fff;
} */

.af-footer{
    padding: 60px 30px;
    color: #fff;
}

.af-footer h3, .af-footer p{
    color: #fff;
}

.af-product-title{
    margin: 50px 0;
    border-bottom: 2px double #2e9426;
    font-size: 1.5em;
    text-indent: 30px;
    font-weight: bold;
    color: #000;
}

.af-product{
    padding: 30px;
    text-align:center;
}

.af-product h3{
    font-weight: bold;
}

.af-product button{
    border-radius: 5px;
    font-weight: bold;
}