@font-face {
    font-family: 'Gotham';
    src: url('/common/fonts/GothamPro.eot'); /* IE9 Compat Modes */
    src: url('/common/fonts/GothamPro.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/common/fonts/GothamPro.woff2') format('woff2'), /* Super Modern Browsers */
        url('/common/fonts/GothamPro.woff') format('woff'), /* Pretty Modern Browsers */
        url('/common/fonts/GothamPro.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('/common/fonts/GothamPro.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'GothamBold';
    src: url('/common/fonts/GothamPro-Bold.eot'); /* IE9 Compat Modes */
    src: url('/common/fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/common/fonts/GothamPro-Bold.woff2') format('woff2'), /* Super Modern Browsers */
        url('/common/fonts/GothamPro-Bold.woff') format('woff'), /* Pretty Modern Browsers */
        url('/common/fonts/GothamPro-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('/common/fonts/GothamPro-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'GothamMedium';
    src: url('/common/fonts/GothamPro-Medium.eot'); /* IE9 Compat Modes */
    src: url('/common/fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/common/fonts/GothamPro-Medium.woff2') format('woff2'), /* Super Modern Browsers */
        url('/common/fonts/GothamPro-Medium.woff') format('woff'), /* Pretty Modern Browsers */
        url('/common/fonts/GothamPro-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('/common/fonts/GothamPro-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
}


@font-face {
    font-family: 'Roboto';
    src: url('/common/fonts/Roboto.eot'); /* IE9 Compat Modes */
    src: url('/common/fonts/Roboto.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/common/fonts/Roboto.woff2') format('woff2'), /* Super Modern Browsers */
        url('/common/fonts/Roboto.woff') format('woff'), /* Pretty Modern Browsers */
        url('/common/fonts/Roboto.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('/common/fonts/Roboto.svg#svgFontName') format('svg'); /* Legacy iOS */
}